<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravan Animation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body class="gradient-background">
    <div class="BG-CONTENER">
        <img src="{{ url_for('static', filename='IMG/pngegg.png') }}" />
        </br>
        <img src="{{ url_for('static', filename='IMG/hand.png') }}" />
    </div>
    <div class="container">
        <div class="main-div"> <img src="{{ url_for('static', filename='IMG/RABANFACE.png') }}" /> </div>
        <div class="left-divs">
            <div class="left-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_L.png') }}" /> </div>
            <div class="left-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_L.png') }}" /> </div>
            <div class="left-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_L.png') }}" /></div>
            <div class="left-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_L.png') }}" /> </div>
            <div class="left-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_L.png') }}" /> </div>
        </div>
        <div class="right-divs">
            <div class="right-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_R.png') }}" /></div>
            <div class="right-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_R.png') }}" /></div>
            <div class="right-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_R.png') }}" /></div>
            <div class="right-div"><img src="{{ url_for('static', filename='IMG/RABANPASSFACE_R.png') }}" /></div>

        </div>
    </div>
</body>

</html>